/* Main color themes*/
$main-grey-color: #EFEFEF;
$dark-grey-text: #A9A9A9;
$blue-contrast: #CAEBF2;
$red-accent: #FF3B3f;

@font-face{
  font-family: 'Roboto';
  src:font-url('Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Signika';
  src:font-url('Signika-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
.row{
  overflow: hidden; 
}

[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.user-header{
  .group-name{
    padding-top:30px;
    margin-top:0px;
    font-family: Signika;
  }
  
  .group-description{
    padding-top:30px;
    margin-top:0px;
    font-family: Signika;
  }
  
  .group-header{
    padding-left:40px;
    padding-bottom:40px;
    border: solid 1px $dark-grey-text;
    border-radius: 15px;
    margin:10px;
  }
  
  .button_to{
    padding-top:30px;
    margin-right:10px;
  }
  .group-name:hover{
    text-shadow: 1px 1px $dark-grey-text;
    cursor: pointer;
  }

  
}
