// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-grey-color: #EFEFEF;
$dark-grey-text: #A9A9A9;
$blue-contrast: #CAEBF2;
$red-accent: #FF3B3f;

.group {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;

  .group-name {
    margin-top: 0;
  }

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .navbar-brand {
    font-weight:bold;
    margin-top: .2cm;
    align-self: center;    
  }

  .description {
    display: block;
    margin-top: .6cm;
    margin-right: 4cm;
  }

  .modify {
    margin-right: .2cm;
    margin-top: .1cm;
  }

  .delete {
    margin-right: .2cm;
    margin-top: .1cm;
  }

  .username{
    padding-left:25px;
    font-family: Roboto;
    font-size:5em;
  }
  
  hr{
   color: $red-accent;
   border-bottom:solid 1px;
   padding-left: 20px;
  }
  
  .group-header{
    padding-left:40px;
  }
  
  h3 {
    border-bottom: 1px solid $red-accent;
    font-size: 24px;
    display: inline-block;
  }

  h1 {
    border-bottom: 1px solid $red-accent;
    font-size: 36px;
    display: inline-block;
  }

  .user-header  {
    max-width:1220px;
    padding-top:30px;
    background-color:$main-grey-color;
    min-height: 1000px;
  }
}