<% provide(:title, 'The Wishlist') %>

<div class="container-fluid home-landing bg">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="center robot" id="title">THE WISHLIST</h1>
      <p class="center" id = "dot-separator">. . .</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= link_to  "Get Started", login_path %>
    </div>
  </div>
</div>
