<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 list-shell">
      <% if @user.lists.any? %>
        <h3><%= @user.first_name %> <%= @user.last_name %>'s Lists</h3>
          <%= render @user.lists %>
      <% end %>
    </div>
    <div class="col-md-2 list-options">
      <ul class>
        <a class="new-list btn btn-primary" href="/lists/new">Create New List</a>
      </ul>
    </div>
  </div>
</div>