// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Home page */
// TODO: REORG ORDER OF CSS

$main-grey-color: #EFEFEF;
$dark-grey-text: #A9A9A9;
$blue-contrast: #CAEBF2;
$red-accent: #FF3B3f;

html{
  height: 100%
}

body{
  height:100%;
}

.center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.bg{
  background-image: image-url("/background-gift.jpeg");
  height: 100%; 
  // background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.home-landing{
  height:1000px;
  overflow:hidden;
}

.container-fluid{
  padding:0px;
}