<header class="navbar navbar-fixed-top navbar-navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Wishlist</a>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to  "Lists", lists_path %></li>
        <li><%= link_to  "Groups", "#" %></li>
        <li><%= link_to  "Log In", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
